In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
covid19 = pd.read_csv('COVID19_global_data.csv')

In [21]:
covid19

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,5,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,5,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,5,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,5,0,0
...,...,...,...,...,...,...,...,...
36726,2020-08-18,ZW,Zimbabwe,AFRO,47,5308,3,135
36727,2020-08-19,ZW,Zimbabwe,AFRO,70,5378,6,141
36728,2020-08-20,ZW,Zimbabwe,AFRO,265,5643,9,150
36729,2020-08-21,ZW,Zimbabwe,AFRO,102,5745,1,151
36730,2020-08-22,ZW,Zimbabwe,AFRO,70,5815,1,152

In [81]:
# 불필요한 columns 삭제 : 컬럼명에 있는 사소한 부분(띄어쓰기 등 에러 발생요인이 됨) 주의.
covid19 = covid19.drop([' WHO_region', ' Country_code'], axis=1)

KeyError: "[' WHO_region' ' Country_code'] not found in axis"

In [122]:
# 컬럼명 변경
covid19 = covid19.rename(columns={'Date_reported':'date',' Country':'country',' New_cases':'n_cases',' Cumulative_cases':'c_cases',' New_deaths':'n_deaths', ' Cumulative_deaths':'c_deaths'})
covid19

             date      country  n_cases  c_cases  n_deaths  c_deaths
0      2020-02-24  Afghanistan        5        5         0         0
1      2020-02-25  Afghanistan        0        5         0         0
2      2020-02-26  Afghanistan        0        5         0         0
3      2020-02-27  Afghanistan        0        5         0         0
4      2020-02-28  Afghanistan        0        5         0         0
...           ...          ...      ...      ...       ...       ...
36726  2020-08-18     Zimbabwe       47     5308         3       135
36727  2020-08-19     Zimbabwe       70     5378         6       141
36728  2020-08-20     Zimbabwe      265     5643         9       150
36729  2020-08-21     Zimbabwe      102     5745         1       151
36730  2020-08-22     Zimbabwe       70     5815         1       152

[36731 rows x 6 columns]

In [123]:
# 국가별 데이터 프레임 생성 후 left join으로 합치기
# nc(new cases), cc(cumulative cases), nd(new deaths), cd(cumulative deaths)
# East Asia
korea = covid19[covid19.country == 'Republic of Korea']
china = covid19[covid19.country == 'China']
japan = covid19[covid19.country == 'Japan']
e_asia = china.merge(japan, how = "left", on = 'date').merge(korea, how = "left", on = 'date')
e_asia = e_asia.rename(columns={'n_cases_x':'chn_nc','c_cases_x':'chn_cc','n_deaths_x':'chn_nd','c_deaths_x':'chn_cd',
                                'n_cases_y':'jpn_nc','c_cases_y':'jpn_cc','n_deaths_y':'jpn_nd','c_deaths_y':'jpn_cd',
                                'n_cases':'kor_nc','c_cases':'kor_cc','n_deaths':'kor_nd','c_deaths':'kor_cd'})
e_asia.to_csv("e_asia.csv")
e_asia

,date,country_x,chn_nc,chn_cc,chn_nd,chn_cd,country_y,jpn_nc,jpn_cc,jpn_nd,jpn_cd,country,kor_nc,kor_cc,kor_nd,kor_cd
0,2020-01-04,China,1,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-05,China,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-06,China,3,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-07,China,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-08,China,0,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,2020-08-19,China,54,89980,2,4712,Japan,865.0,57550.0,13.0,1128.0,Republic of Korea,297.0,16058.0,0.0,306.0
229,2020-08-20,China,33,90013,1,4713,Japan,951.0,58501.0,16.0,1144.0,Republic of Korea,288.0,16346.0,1.0,307.0
230,2020-08-21,China,40,90053,3,4716,Japan,1220.0,59721.0,11.0,1155.0,Republic of Korea,324.0,16670.0,2.0,309.0
231,2020-08-22,China,50,90103,0,4716,Japan,1012.0,60733.0,14.0,1169.0,Republic of Korea,332.0,17002.0,0.0,309.0
232,2020-08-23,China,38,90141,1,4717,Japan,1014.0,61747.0,7.0,1176.0,Republic of Korea,397.0,17399.0,0.0,309.0

In [ ]:
# 권역별 일별 확진자 수

# 아시아 문화권 분류
e_asia_nc =     # 중국, 일본, 한국
es_asia_nc =    # 싱가폴, 말레이시아, 태국
s_asia_nc =     # 인도, 방글라데시, 파키스탄, 필리핀
m_asia_nc =     # 카자흐스탄, 키르기스스탄, 우즈베키스탄, 타지키스탄
me_asia_nc =     # 이란, 사우디, 이라크, 카타르
# 아프리카 문화권 분류
n_africa_nc =     # 이집트, 모로코, 알제리, 튀니지
s_africa_nc =     # 남아공, 마다가스카르, 잠비아, 짐바브웨
e_africa_nc =     # 에티오피아, 케냐, 수단, 콩고민주공화국
w_africa_nc =     # 나이지리아, 가나, 카메룬, 코트디부아르
# 유럽 문화권 분류
n_euro_nc =     # 스웨덴, 덴마크, 노르웨이, 핀란드
s_euro_nc =     # 스페인, 이탈리아, 터키, 포르투갈
e_euro_nc =     # 러시아, 우크라이나, 루마니아, 벨라루스
w_euro_nc =     # 영국, 프랑스, 독일, 벨기에
# 아메리카 및 오세아니아 문화권 분류
nc_america_nc =     # 미국, 멕시코, 캐나다, 도미니카
s_america_nc =     # 브라질, 페루, 콜롬비아, 칠레
oceania_nc =     # 호주, 뉴질랜드, 파푸아뉴기니, 피지

In [ ]:
# 권역별 일별 사망자 수

# 아시아 문화권 분류
e_asia_nd =     # 중국(+홍콩), 일본, 한국, 대만
es_asia_nd =    # 싱가폴, 말레이시아, 태국, 베트남
s_asia_nd =     # 인도, 방글라데시, 파키스탄, 필리핀
m_asia_nd =     # 카자흐스탄, 키르기스스탄, 우즈베키스탄, 타지키스탄
me_asia_nd =     # 이란, 사우디, 이라크, 카타르
# 아프리카 문화권 분류
n_africa_nd =     # 이집트, 모로코, 알제리, 튀니지
s_africa_nd =     # 남아공, 마다가스카르, 잠비아, 짐바브웨
e_africa_nd =     # 에티오피아, 케냐, 수단, 콩고민주공화국
w_africa_nd =     # 나이지리아, 가나, 카메룬, 코트디부아르
# 유럽 문화권 분류
n_euro_nd =     # 스웨덴, 덴마크, 노르웨이, 핀란드
s_euro_nd =     # 스페인, 이탈리아, 터키, 포르투갈
e_euro_nd =     # 러시아, 우크라이나, 루마니아, 벨라루스
w_euro_nd =     # 영국, 프랑스, 독일, 벨기에
# 아메리카 및 오세아니아 문화권 분류
nc_america_nd =     # 미국, 멕시코, 캐나다, 도미니카
s_america_nd =     # 브라질, 페루, 콜롬비아, 칠레
oceania_nd =     # 호주, 뉴질랜드, 파푸아뉴기니, 피지