In [2]:
import pandas as pd
import os
import glob

In [3]:
file_dir = r'C:/Users/shine/Desktop/BigData/Mentoring/0919'
save_file = r'C:/Users/shine/Desktop/BigData/Mentoring/0919/서울 20~30대 생활인구(6~8월).csv'
all_file = glob.glob(os.path.join(file_dir, 'LOCAL_PEOPLE_DONG_20200*.csv'))

In [4]:
people_data = []
for file in all_file:
    people = pd.read_csv(file, index_col=False)
    people = people[['기준일ID','행정동코드',
                     '남자20세부터24세생활인구수',
                     '남자25세부터29세생활인구수',
                     '남자30세부터34세생활인구수',
                     '남자35세부터39세생활인구수',
                     '여자20세부터24세생활인구수',
                     '여자25세부터29세생활인구수',
                     '여자30세부터34세생활인구수',
                     '여자35세부터39세생활인구수'
                    ]]
    people_data.append(people)

In [5]:
# 한 df로 묶기
dataCombine = pd.concat(people_data, axis=0, ignore_index = True)
dataCombine = dataCombine.sort_values(by=['기준일ID','행정동코드'])
dataCombine = dataCombine.round(0)
dataCombine = dataCombine.astype(int, errors = 'ignore')
dataCombine = dataCombine.astype({'행정동코드':'str'})
dataCombine['행정동코드'] = dataCombine['행정동코드'].str[0:5]
dataCombine

,기준일ID,행정동코드,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,여자20세부터24세생활인구수,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수
0,20200601,11110,612,502,396,566,421,419,451,617
761,20200601,11110,622,494,390,574,427,426,439,604
1097,20200601,11110,617,509,382,577,427,428,435,604
1272,20200601,11110,621,512,386,575,437,429,433,609
1769,20200601,11110,621,533,383,581,436,436,432,617
...,...,...,...,...,...,...,...,...,...,...
934129,20200831,11740,630,809,858,914,778,906,897,1150
934576,20200831,11740,656,845,922,990,793,912,961,1124
935242,20200831,11740,709,922,968,1033,808,962,943,1134
935433,20200831,11740,741,934,1023,1055,848,990,954,1171
936060,20200831,11740,736,981,978,1099,884,1007,976,1208

In [6]:
code = pd.read_excel('행정동_20200814.xlsx')
seoul_code = code.loc[code['시도명'] == '서울특별시']
seoul_code = seoul_code.drop(['시도명','읍면동명'], axis=1)
seoul_code = seoul_code.dropna()
# slicing을 위해 행정동코드를 문자열로 바꾸고 10자리인 행정동코드를 slicing으로 8자리로 변경
seoul_code = seoul_code.astype(str)
seoul_code['행정동코드'] = seoul_code['행정동코드'].str[0:5]
seoul_code = seoul_code.drop_duplicates()
seoul_code

     행정동코드  시군구명
1    11110   종로구
19   11140    중구
35   11170   용산구
52   11200   성동구
70   11215   광진구
86   11230  동대문구
101  11260   중랑구
118  11290   성북구
139  11305   강북구
153  11320   도봉구
168  11350   노원구
188  11380   은평구
205  11410  서대문구
220  11440   마포구
237  11470   양천구
256  11500   강서구
277  11530   구로구
294  11545   금천구
305  11560  영등포구
324  11590   동작구
340  11620   관악구
362  11650   서초구
381  11680   강남구
404  11710   송파구
432  11740   강동구

In [7]:
local_people = pd.merge(dataCombine, seoul_code, how='right', on='행정동코드')
local_people = local_people[['기준일ID','시군구명',
                             '남자20세부터24세생활인구수','남자25세부터29세생활인구수',
                             '남자30세부터34세생활인구수','남자35세부터39세생활인구수',
                             '여자20세부터24세생활인구수','여자25세부터29세생활인구수',
                             '여자30세부터34세생활인구수','여자35세부터39세생활인구수']]

local_people = local_people.rename(columns={'시군구명':'군구명',
                                            '남자20세부터24세생활인구수':'남20~24세',
                                            '남자25세부터29세생활인구수':'남25~29세',
                                            '남자30세부터34세생활인구수':'남30~34세',
                                            '남자35세부터39세생활인구수':'남35~39세',
                                            '여자20세부터24세생활인구수':'여20~24세',
                                            '여자25세부터29세생활인구수':'여25~29세',
                                            '여자30세부터34세생활인구수':'여30~34세',
                                            '여자35세부터39세생활인구수':'여35~39세'})
local_people = local_people.groupby(['기준일ID','군구명']).mean()
local_people = local_people.round(0)
local_people = local_people.astype(int)
# 맨 위에 save_file 변수에 지정한 파일 경로와 파일명으로 저장
local_people.to_csv(save_file, encoding = 'utf-8-sig')
local_people

              남20~24세  남25~29세  남30~34세  남35~39세  여20~24세  여25~29세  여30~34세  \
기준일ID    군구명
20200601 강남구      965     1624     1820     2183     1515     2194     2015
         강동구      711      841      878     1097      820      930     1001
         강북구      675      731      637      765      911      791      668
         강서구      696     1032     1106     1296      891     1235     1211
         관악구      992     1576     1197     1020     1260     1424     1028
...               ...      ...      ...      ...      ...      ...      ...
20200831 용산구      547      724      778      987      643      826      836
         은평구      763      879      851     1070      933     1048     1023
         종로구      552      667      639      792      678      708      649
         중구       453      743      877     1131      663      935      902
         중랑구      620      761      722      871      746      847      811

              여35~39세
기준일ID    군구명
20200601 강남구     1976
         강동구     1226
         강북구      810
         강서구     1262
         관악구      902
...               ...
20200831 용산구      911
         은평구     1237
         종로구      675
         중구       937
         중랑구      910

[2300 rows x 8 columns]